[Unit]
Description=Display surveillance cameras
After=default.target

[Service]
Type=simple
NotifyAccess=all
Restart=always
RestartSec=10
WorkingDirectory=/home/cam/traffic_filters
ExecStart=/home/cam/traffic_filters/.venv/bin/python /home/cam/traffic_filters/stream_video.py
WatchdogSec=1min
RuntimeMaxSec=1h
StandardOutput=journal
StandardError=journal
Environment="PATH=/home/cam/traffic_filters/.venv/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"

[Install]
WantedBy=default.target
